.container {
  max-width: 1366px;
  margin: 0 auto 80px;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  font-family: var(--font-inter);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 36px;
  font-weight: 500;
  color: var(--black-gray);
  margin-bottom: 48px;
}

.highlight {
  color: var(--yellow-white);
  font-weight: 800;
}

.container :global(.swiper) {
  padding-bottom: 40px;
}

.container :global(.swiper-slide) {
  height: 460px;
}

.container :global(.swiper-pagination) {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.container :global(.swiper-pagination-bullet) {
  background-color: gray;
  width: 16px;
  height: 7px;
  border-radius: 4px;
  margin: 0 4px;
  transition: all 0.3s ease;
}

.container :global(.swiper-pagination-bullet-active) {
  background-color: var(--yellow-lightpurple-button);
  width: 26px;
  height: 7px;
  border-radius: 6px;
}

@media (max-width: 1280px) {
  .container {
    padding-top: 100px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    margin: 0 auto 40px;
  }

  .productsList {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 85%;
    margin: 0 auto 60px;
  }

  .productsList {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 32px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .productsList {
    grid-template-columns: repeat(3, 1fr);
  }

  .title {
    font-size: 34px;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 95%;
  }

  .productsList {
    grid-template-columns: repeat(4, 1fr);
  }
}
