.toggleContainer {
  position: relative;
  top: 4.6em;
  text-align: center;
}

.toggle {
  opacity: 0;
}

.toggle + label {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--green);
}

.toggle + label::before {
  content: '';
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--white-header);
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

.toggle + label::after {
  content: '';
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background-color: var(--yellow-lightpurple-button);
  position: absolute;
  left: 0.2em;
  transition: transform 250ms ease-in-out;
}

.toggle:checked + label::before {
  background-color: var(--yellow-lightpurple-button);
}

.toggle:checked + label::after {
  background-color: var(--green);
  transform: translateX(100%);
}

.Mode {
  display: flex;
  justify-content: start;
}

@media (max-width: 768px) {
  .toggleContainer {
    top: 0em;
  }
}
