/* FooterMobile.module.css */

.footer {
    background-color: #3F4E65;
}

.footerContainer {
    display: flex;
    flex-direction: column; /* Начальное вертикальное расположение */
    gap: 20px;
    padding: 0 10px;
}

.footerRow {
    display: flex;
    flex-direction: row; /* Горизонтальное расположение */
    justify-content: space-between;
    align-items: center; /* Центрирование по вертикали */
    width: 100%;
}


/* Пример стиля для колонок в горизонтальном ряду */
.footerColumn {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.footerColumn h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footerColumn p,
.footerColumn ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    color: #FFFFFF;
}

.footerColumn a {
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footerColumn a:hover {
    text-decoration: underline;
}

.messengers img {
    padding-top: 8px;
    margin-right: 10px;
}

.paymentMethods img {
    width: 60px;
    height: auto;
}

.paymentMethods {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.language_switcher{
    justify-content:center;
}

.downloadButton {
    background-color: #fec85e;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 20px 32px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.downloadIcon {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.subscribeText {
    font-size: 12px;
    margin-top: 40px !important;
    color: white;
    text-align: left;
}

.text{
    font-size: 32px;
    color: white;
    text-align: left;
}

.subscribeForm {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.subscribeForm input {
    padding: 15px;
    border-radius: 30px 0 0 30px;
    border: 1px solid #C4C4C4;
    flex: 1;
    font-size: 14px;
    color: #333333;
}

.subscribeForm button {
    padding: 15px 20px;
    border-radius: 0 30px 30px 0;
    border: none;
    background-color: #FFCE3E;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.subscribeForm button::before {
    content: '>';
    font-size: 18px;
    color: white;
}