:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  height: 100vh; /*по гайдику расставляем)*/

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;

  color: var(--background);
  background: var(--foreground);
}
div {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 70px;
}
button {
  font-size: 30px;
  color: rgb(65, 65, 65);
  background-color: antiquewhite;
  transition: 0.3s;
}
button:hover {
  scale: 1.04;
  background-color: rgb(252, 227, 195);
}
