@import './reset.css';

:root {
  --yellow: rgb(255, 200, 94);
  --blue: rgb(63, 78, 101);
  --gray: rgb(237, 237, 237);
  --white: #fff;
  --black: rgb(17, 17, 17);
  --green: rgb(31, 215, 93);

  /* адаптивчик */
  --breakpoint-tablets: 480px;
  --breakpoint-tablets: 768px;
  --breakpoint-laptops: 1024px;
  --breakpoint-desktop: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
  color: var(--blue);
  background: var(--white);
}
