.header {
  width: 100%;
  font-family: var(--font-inter);
  background-color: var(--blue);
}
.container {
  background-color: #f00;
  max-width: 1366px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 61px;
  background-color: rgb(136, 0, 255);
}

.address,
.mailinfo {
  display: flex;
  flex-direction: column;
}
.blockAddress,
.blockMailinfo {
  display: flex;
  flex-direction: row;
}

.block {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 14px;
  color: #555;
  background-color: #fbb03b;
}

.icon {
  width: 20px;
  height: 20px;
}

.mainText {
  font-weight: bold;
  color: #333;
}

.subText {
  font-size: 12px;
  color: #888;
}

.menuBlock {
  display: flex;
  gap: 20px;
  background-color: rgb(0, 255, 140);
}

.menuItem {
  text-decoration: none;
  font-size: 14px;
  color: #333;
  transition: color 0.3s;
}

.menuItem:hover {
  color: #fbb03b;
}

.hat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 108px;
  padding: 10px 0;
  background-color: chartreuse;
}

.logo img {
  width: 156px;
  height: 66px;
}

.catalogButton {
  margin-right: 20px;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
}

.contactBlock {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: cornflowerblue;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #fff;
}

.phoneNumber {
  font-size: 16px;
  font-weight: bold;
}

.workingHours {
  font-size: 12px;
  color: #888;
}

.orderCall {
  text-decoration: none;
  font-size: 12px;
  color: #fbb03b;
}

.photoWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.ellipseGray {
  position: absolute;
  background-color: #f0f0f0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.personIcon {
  z-index: 0;
}

.statusIndicator {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  border: 2px solid #fff;
}

.priceListButton {
  margin-left: 20px;
}

.cartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: cornflowerblue;
}

.iconWrapper img {
  width: 30px;
  height: 30px;
}

.itemCount {
  position: absolute;
  background-color: #f00;
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.price {
  display: flex;
  flex-direction: column;
}
.cartLabel {
  font-size: 14px;
  color: #333;
  background-color: crimson;
}

.cartTotal {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background-color: darkgoldenrod;
}
