.header {
  width: 100%;
  font-family: var(--font-inter);
  background-color: var(--blue);
}
.DesktopContainer {
  background-color: #f00;
  max-width: 1366px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 61px;
  background-color: rgb(136, 0, 255);
  border-bottom: 2px solid var(--gray);
}

.address,
.mailinfo {
  display: flex;
  flex-direction: column;
}

.blockAddress,
.blockMailinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.block {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 14px;
  color: #555;
  background-color: #fbb03b;
}

.icon {
  width: 20px;
  height: 20px;
}

.mainText {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: var(--black);
}

.subText {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  color: var(--blue);
}

.menuBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: rgb(0, 255, 140);
}

.menuItem {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--blue);
}

.menuItem::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.menuItem:hover::after {
  transform: scaleX(1);
}

.hat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 108px;
  padding: 24px 0;
  background-color: chartreuse;
}

.logo {
  display: inline-block;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.03);
}

.logo img {
  width: 156px;
  height: 66px;
}

.catalogAndSearch {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.contactBlock {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-right: 50px;
  background-color: cornflowerblue;
  width: auto;
}

.textBlock {
  display: flex;
  flex-direction: column;
  text-align: end;
  background-color: #ffdada;
}

.phoneNumber {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: var(--black);
}

.workingHours {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: var(--blue);
}

.orderCall {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: var(--blue);
}

.photoWrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f00;
}

.ellipseGray {
  position: absolute;
  background-color: #f0f0f0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.statusIndicator {
  position: absolute;
  bottom: 10px;
  left: 56px;
  width: 10px;
  height: 10px;
  background-color: var(--green);
  border-radius: 50%;
  border: 2px solid var(--white);
  z-index: 1;
}

.priceListButton {
  margin-left: 20px;
}

.cartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  background-color: cornflowerblue;
}

.iconWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper img {
  width: 46px;
  height: 46px;
}

.itemCount {
  background-color: var(--yellow);
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  min-width: 22px;
  min-height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -40px;
  margin-top: -20px;
  z-index: 1;
}

.price {
  display: flex;
  flex-direction: column;
}

.cartLabel {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: var(--blue);
}

.cartTotal {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: var(--black);
}

.MobileContainer {
  display: none;
  position: fixed;
  width: 100%;
  font-family: var(--font-inter);
  background-color: var(--blue);
  z-index: 3;
}

.mobileMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  height: 61px; /* Высота хедера */
  background-color: rgb(136, 0, 255);
  border-bottom: 2px solid var(--gray);
  z-index: 2;
}

.burgerButton {
  width: 32px; /* Размер кнопки */
  height: 32px; /* Размер кнопки */
  background-color: var(--yellow); /* Желтый фон */
  border-radius: 50%; /* Круглая форма */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2; /* Чтобы кнопка была выше остальных элементов */
}

.burgerLine {
  width: 8px;
  height: 1px;
  background-color: rgb(255, 255, 255); /* Черные полоски для бургер-кнопки */
  margin: 1px 0;
  transition: all 0.3s ease;
}

.MobileLogo {
  display: inline-block;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.MobileLogo:hover {
  transform: scale(1.03);
}

.logo img {
  width: 97px;
  height: 41px;
}

.MobileHat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: chartreuse;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--blue);
  text-decoration: none;
  padding: 10px;
}

.Mobicon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.separator {
  border-left: 2px dashed var(--blue);
  opacity: 0.3;
  height: 30px;
}

/* Меню, которое будет вылазить из-под хедера */
.slideMenu {
  position: absolute;
  top: 100px; /* Располагаем меню ниже хедера */
  left: 0;
  right: 0;
  height: auto;
  background-color: rgb(0, 255, 195); /* Белый фон для меню */
  display: flex;
  flex-direction: column;
  justify-content: start; /* Равномерное распределение элементов меню */
  padding: 20px;
  transform: translateY(-100%); /* Меню скрыто по умолчанию */
  transition: transform 0.3s ease; /* Плавная анимация */
  z-index: -1; /* Чтобы меню было ниже кнопки */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный */
  z-index: -4; /* Чтобы фон был выше содержимого, но ниже меню */
  animation: fadeIn 0.3s ease; /* Плавное появление */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* При открытии меню */
.slideMenu.open {
  transform: translateY(0); /* Меню появляется */
}

/* Анимация для бургер-меню */
.burgerButton.open .burgerLine:nth-child(1) {
  transform: translateY(3px) translateX(0px) rotate(45deg); /* Верхняя линия поворачивается */
}

.burgerButton.open .burgerLine:nth-child(2) {
  opacity: 0; /* Средняя линия исчезает */
}

.burgerButton.open .burgerLine:nth-child(3) {
  transform: translateY(-3px) translateX(0px) rotate(-45deg); /* Нижняя линия поворачивается */
}

.mobileMenuBlock {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background-color: #fbb03b;
}
.MobileBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  background-color: rgb(230, 105, 255);
}

.salesDepartment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.phone {
  display: flex;
  flex-direction: column;
}

.blockPhone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subText2 {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  color: var(--blue);
}

.callButton {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--blue);
  padding-bottom: 25px;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  gap: 8px;
  cursor: pointer;
}

.iconWrapperr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ffc859;
  border-radius: 50%;
}

.iconWrapperr img {
  width: 8px !important; /* Ограничиваем ширину */
  height: 8px !important; /* Ограничиваем высоту */
  object-fit: contain;
}

.text {
  text-decoration: underline;
}

.callButton:hover .text {
  color: #555; /* Темнее текст при наведении */
}

.callButton:hover .iconWrapperr {
  background-color: #ffb834; /* Затемнение фона иконки при наведении */
}


.MobileMenuSite {
  background-color: cadetblue;
  border-top: 1px dashed var(--gray) ;
}

.MobileMenuTitle{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--blue);
  padding: 25px 0;
}

.MobileMenuSiteList {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap:20px;
}

.MobileMenuButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 22px 0 8px;
  background-color: #f00;
}

@media (max-width: 1280px) {
  .DesktopContainer {
    display: none;
  }

  .MobileContainer {
    display: block;
    width: 100%;
    font-family: var(--font-inter);
    background-color: var(--blue);
  }
}
